.fundo{
    --background: linear-gradient(to right, #6190e8, #a7bfe8);
}

ion-item{
    --background: linear-gradient(to right, #b2fefa, #0ed2f7);
    --color: rgb(0, 0, 0);
    font-weight: 600;
}


ion-button{
    --background: rgb(255, 255, 255);
    --color: #6190e8;
    font-weight: 1000;
}